@charset "UTF-8";
@import "../comm/_common";
@import "../comm/_css3";


/*

  资讯导航

*/

.articleNav{
  $h:50px;
  font-size:0;
  text-align: center;
  margin-bottom: 36px;
  a{
    position: relative;
    height:$h;
    line-height:$h;
    display: inline-block;
    width:250px;
    background: #e5e5e5;
    font-size:18px;
    color:#666;
    text-align: center;
    &:hover,&.select{
      background: $blue-sub;
      color:#fff;
    }
    i{
      width:2px;
      height:100%;
      position: absolute;
      right:0;
      top:0;
      background: #fff;;
    }
  }
}