<!DOCTYPE html>
<html>
@@include('include/head.html',{
    "title":"福袋第二季"
})
<link rel="stylesheet" href="css/christmas2.css"/>
<body id="app">
<img :src="'../../static/images/christmas2/shareIcon.jpg'" style="position:absolute;width:0;height:0;" alt=""/>
<div class="wrap">

    <article class="main" id="wrapper">
        <div class="christmas2" id="scroller">
            <a href="javascript:;" v-link="'/index'" class="iconBackTop"></a>
            <!--<a href="javascript:;" class="iconShareTop" @touchstart="share(-1)"></a>-->

            <header>

            </header>

            <!-- 10点 -->
            <div class="list" v-show="list10.show">
                <div class="time">
                    <div>
                        <span>1</span><span>0</span><b>:</b><span>0</span><span>0</span>
                    </div>

                    <p v-if="list10.is" class="select">限时特价进行中</p>
                    <p v-else>即将开始</p>

                </div>
                <ul>
                    <li><a href=""><img src="images/christmas2/18-10-1.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-10-2.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-10-3.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-10-4.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-10-5.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-10-6.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-10-7.jpg" alt=""></a></li>
                </ul>
                <div class="bottom">
                    <i class="left"></i>
                    <i class="right"></i>
                    <div class="box">
                        <i class="fu"></i>
                        <div class="text">
                            <p>1.福袋不与优惠券同时使用；</p>
                            <p class="red">2.秒杀到福袋的用户，可以得到新春祝“福”字一张；</p>
                            <p>3.福袋不包邮，售出后不接受换货；</p>
                            <p>4.每个用户限秒3个福袋；</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 14点 -->
            <div class="list" v-show="list14.show">
                <div class="time">
                    <div>
                        <span>1</span><span>4</span><b>:</b><span>0</span><span>0</span>
                    </div>

                    <p v-if="list14.is" class="select">限时特价进行中</p>
                    <p v-else>即将开始</p>

                </div>
                <ul>
                    <li><a href=""><img src="images/christmas2/18-14-1.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-14-2.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-14-3.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-14-4.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-14-5.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-14-6.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-14-7.jpg" alt=""></a></li>
                </ul>
                <div class="bottom">
                    <i class="left"></i>
                    <i class="right"></i>
                    <div class="box">
                        <i class="fu"></i>
                        <div class="text">
                            <p>1.福袋不与优惠券同时使用；</p>
                            <p class="red">2.秒杀到福袋的用户，可以得到新春祝“福”字一张；</p>
                            <p>3.福袋不包邮，售出后不接受换货；</p>
                            <p>4.每个用户限秒3个福袋；</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 16点 -->
            <div class="list" v-show="list16.show">
                <div class="time">
                    <div>
                        <span>1</span><span>6</span><b>:</b><span>0</span><span>0</span>
                    </div>

                    <p v-if="list16.is" class="select">限时特价进行中</p>
                    <p v-else>即将开始</p>

                </div>
                <ul>
                    <li><a href=""><img src="images/christmas2/18-16-1.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-16-2.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-16-3.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-16-4.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-16-5.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-16-6.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-16-7.jpg" alt=""></a></li>
                </ul>
                <div class="bottom">
                    <i class="left"></i>
                    <i class="right"></i>
                    <div class="box">
                        <i class="fu"></i>
                        <div class="text">
                            <p>1.福袋不与优惠券同时使用；</p>
                            <p class="red">2.秒杀到福袋的用户，可以得到新春祝“福”字一张；</p>
                            <p>3.福袋不包邮，售出后不接受换货；</p>
                            <p>4.每个用户限秒3个福袋；</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 20点-->
            <div class="list" v-show="list20.show">
                <div class="time">
                    <div>
                        <span>2</span><span>0</span><b>:</b><span>0</span><span>0</span>
                    </div>

                    <p v-if="list20.is" class="select">限时特价进行中</p>
                    <p v-else>即将开始</p>

                </div>
                <ul>
                    <li><a href=""><img src="images/christmas2/18-20-1.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-20-2.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-20-3.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-20-4.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-20-5.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-20-6.jpg" alt=""></a></li>
                    <li><a href=""><img src="images/christmas2/18-20-7.jpg" alt=""></a></li>
                </ul>
                <div class="bottom">
                    <i class="left"></i>
                    <i class="right"></i>
                    <div class="box">
                        <i class="fu"></i>
                        <div class="text">
                            <p>1.福袋不与优惠券同时使用；</p>
                            <p class="red">2.秒杀到福袋的用户，可以得到新春祝“福”字一张；</p>
                            <p>3.福袋不包邮，售出后不接受换货；</p>
                            <p>4.每个用户限秒3个福袋；</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 倒记时 -->
            <div class="pos" v-show="is.show">
                <div class="endTime">
                    <p>福袋第二季，多件商品限时秒杀</p>
                    <div class="end" v-if="date.s > 0">
                        <p>距离结束仅剩</p>
                        <div class="date">
                            <span v-if="date.h > 0">{{date.h}}</span>
                            <b v-if="date.h > 0">:</b>
                            <span v-if="date.m > 0">{{date.m}}</span>
                            <b v-if="date.m > 0">:</b>
                            <span>{{date.s}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </article>
</div>

<!-- 分享成功弹窗
<div class="wayShare" v-show="sharing">
    <div class="box">
        <h5>分享到</h5>
        <div class="shareBox clearfix">
            <div class="icon" @touchstart="share(0)" >
                <i class="weiFriend"></i>
                <span>微信好友</span>
            </div>
            <div class="icon" @touchstart="share(1)" >
                <i class="friend"></i>
                <span>朋友圈</span>
            </div>
        </div>
        <div class="btn" @touchstart="share(-2)" >取消</div>
    </div>
</div>
-->


</body>
<script type="text/javascript" src="js/iscroll-probe.js"></script>
<!--<script type="text/javascript" src="js/iscroll.js"></script>-->
<script>
/**

 标题：福袋第二季——疯抢三天，给力到底
 内容：年底最后一波狂欢，1月18日10点准时开抢

*/

    var app=new Vue({
        el:"#app",
        data:{
            sharing:false,          //分享
            myScroll:'',
            obj:{
                headerHeight:0,     //广告高度
                pos:''              //浮动倒记时元素
            },
            is:{
                show:false          //是否显示浮动倒记时
            },

            //第一场
            list10:{
                show:true,
                is:false,
                start:new Date('2017/01/18 10:00:00'),
                date:new Date('2017/01/18 10:30:00')
            },
            //第二场
            list14:{
                show:true,
                is:false,
                start:new Date('2017/01/18 14:00:00'),
                date:new Date('2017/01/18 14:30:00')
            },
            //第三场
            list16:{
                show:true,
                is:false,
                start:new Date('2017/01/18 16:00:00'),
                date:new Date('2017/01/18 16:30:00')
            },
            //第四场
            list20:{
                show:true,
                is:false,
                start:new Date('2017/01/18 20:00:00'),
                date:new Date('2017/01/18 20:30:00')
            },
            //倒记时
            date:{
                h:'',
                m:'',
                s:''
            }

        },
        ready:function(){
            var _this = this;
            var main = document.querySelector('.christmas2');
            this.obj.headerHeight = main.getElementsByTagName('header')[0].clientHeight;
            this.obj.pos = main.querySelector('.pos');

            //滚动
            this.browser() ? this.iosScroll() : this.androidScroll();




            /*

             定时器
             如果时间还没到
             现在时间
             10:00
             10: - 现在时间 = 0 ,运行list10

             */


            // 时间
            var date = new Date();
            // 不是2017年
            if(date.getFullYear() != 2017) return false;
            // 不是1月
            if(date.getMonth() != 0) return false;
            // 不是18号
            if(date.getDate() != 18) return false;


            // 当前时间小于指定时间(10点)
            if(date.getTime() < _this.list10.start.getTime()){
                this.runDate(_this.list10.start,function(){
                    // 修改文字状态
                    _this.list10.is = true;
                    // 倒记时
                    _this.endDate(_this.list10.date);
                });
            }
            // 10点段
            if(date.getHours() >= 10 && date < this.list10.date){
                // 修改文字状态
                this.list10.is = true;
                // 倒记时
                this.endDate(this.list10.date);
            }
            if(date > this.list10.date){
                // 隐藏已结束场次
                this.list10.show = false;
            }

            // 当前时间小于指定时间(14点)
            if(date.getTime() < _this.list14.start.getTime()){
                this.runDate(_this.list14.start,function(){
                    //修改文字状态
                    _this.list14.is = true;
                    //倒记时
                    _this.endDate(_this.list14.date);
                });
            }
            // 14点段
            if(date.getHours() >= 14 && date < this.list14.date){
                //修改文字状态
                this.list14.is = true;
                //倒记时
                this.endDate(this.list14.date);
            }
            if(date > this.list14.date){
                // 隐藏已结束场次
                this.list14.show = false;
            }

            // 当前时间小于指定时间(16点)
            if(date.getTime() < _this.list16.start.getTime()){
                this.runDate(_this.list16.start,function(){
                    //修改文字状态
                    _this.list16.is = true;
                    //倒记时
                    _this.endDate(_this.list16.date);
                });
            }
            // 16点段
            if(date.getHours() >= 16 && date < this.list16.date){
                //修改文字状态
                this.list16.is = true;
                //倒记时
                this.endDate(this.list16.date);
            }
            if(date > this.list16.date){
                // 隐藏已结束场次
                this.list16.show = false;
            }

            // 当前时间小于指定时间(20点)
            if(date.getTime() < _this.list20.start.getTime()){
                this.runDate(_this.list20.start,function(){
                    //修改文字状态
                    _this.list20.is = true;
                    //倒记时
                    _this.endDate(_this.list20.date);
                });
            }
            // 20点段
            if(date.getHours() >= 20 && date < this.list20.date){
                //修改文字状态
                this.list20.is = true;
                //倒记时
                this.endDate(this.list20.date);
            }
            if(date > this.list20.date){
                // 隐藏已结束场次
                this.list20.show = false;
            }

            //高度发生变化
//            setTimeout(function () {
//                _this.myScroll.refresh();
//            }, 0);

            console.log('当前日期：' + date.getDate() + '|' + date.getHours());

        },
        methods:{
            browser:function(){
                //这是iOS平台下浏览器
                if(/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)){
                    return true;
                }else {
                    return false;
                }
            },
            runDate:function(str,fn){
                var _this = this;
                var time = setInterval(function(){

                    var now = new Date().getTime();   //当前时间毫秒数
                    var end = new Date(str).getTime();     //指定时间毫秒数
                    var c = end - now;

                    // 结束时
                    if(c<=0){//如果差小于等于0  也就是过期或者正好过期，则推出程序
                        clearInterval(time);//清除计时器
                        if(fn){
                            fn();
                        }
                        return false;
                    }

                },1000)
            },
            endDate:function(str,fn){
                var _this = this;
                var time = setInterval(function(){

                    var now = new Date().getTime();   //当前时间毫秒数
                    var end = new Date(str).getTime();     //指定时间毫秒数
                    var c = end - now;

                    if(c<=0){//如果差小于等于0  也就是过期或者正好过期，则推出程序
                        clearInterval(time);//清除计时器
                        _this.date = {
                            h : 0,
                            m : 0,
                            s : 0
                        };
                        if(fn){
                            fn();
                        }
                        //刷新
                        location.reload();
                        return;//结束执行
                    }
                    var ds = 60*60*24*1000,                     //一天共多少毫秒
                    //d = parseInt(c/ds),                         //总毫秒/一天的毫秒=相差的天数
                    h = parseInt(c/(3600*1000)),                //总毫数/小时=相差的小时
                    m = parseInt((c - h*3600*1000)/(60*1000)),   //总毫数-小时数/每分钟的毫秒数=得到分钟数
                    s = parseInt((c - h*3600*1000 - m*60*1000) / 1000);  //(总毫秒 - 剩余天数 * 每天的毫秒 - 剩余小时 * 3600 * 1000 - 剩余分钟数 * 60 * 1000) / 1000 就是秒数 = 剩余秒数
                    //console.log(h + '小时' + m + '分' + s + '秒');
                    _this.date = {
                        h : h,
                        m : m,
                        s : s
                    }

                },1000)
            },
            iosScroll:function(){
                var _this = this;
                this.myScroll = new IScroll('#wrapper', {
                    //bounce : false,
                    click : true,               //是否响应鼠标的点击事件
                    //checkDOMChanges : true,   //是否自动检测内容变化
                    probeType: 2,
                    //mouseWheel: true      //开启鼠标滚轮支持
                });

                this.myScroll.on('scroll', updatePosition);
                this.myScroll.on('scrollEnd', updatePosition);
                function updatePosition () {
                    var top = Math.abs(this.y);

                    // 是否显示倒记时
                    if(top > _this.obj.headerHeight){
                        // 显示浮动倒记时
                        _this.is.show = true;
                        _this.obj.pos.style.top = top + "px";
                    }else{
                        // 隐藏浮动倒记时
                        _this.is.show = false;
                    }
                }
            },
            androidScroll:function(){
                //console.log('android');
                var _this = this;
                var main = document.querySelector('.main');
                main.addEventListener('scroll',function(){
                    var top = this.scrollTop;
                    //滚动浮动
                    if(top > _this.obj.headerHeight){
                        _this.is.show = true;
                        _this.obj.pos.style.position = "fixed";
                        _this.obj.pos.style.top = 0 + "px";
                    }else{
                        _this.obj.pos.style.position = "";
                        _this.is.show = false;
                    }
                },false);
            },
            share:function(dist){
                var img =  ctx+"/static/images/nianhuo/shareIcon.jpg";
                var subTitle="福袋第二季——疯抢三天，给力到底";
                var shareLink= "http://wx.artjzf.com/"+window.location.hash
                if(dist===-2){
                    this.sharing=false;
                }else if(dist===-1){
                    this.sharing=true;
                }else if(dist===0){
                    this.sharing=false;
                    weixinShare(shareLink,img,'年底最后一波狂欢，1月18日10点准时开抢！',subTitle,0);
                }else if(dist===1){
                    this.sharing=false;
                    weixinShare(shareLink,img,'年底最后一波狂欢，1月18日10点准时开抢！',subTitle,1);
                }
            }
        }
    });





</script>

</html>