<!DOCTYPE html>
<html>
@@include('include/head.html',{
    "title":"福袋第二季"
})
<link rel="stylesheet" href="css/christmas2.css"/>
<body id="app">
<img :src="'../../static/images/christmas2/shareIcon.jpg'" style="position:absolute;width:0;height:0;" alt=""/>
<div class="wrap">

    <article class="main" id="wrapper">
        <div class="christmas2" id="scroller">
            <a href="javascript:;" v-link="'/index'" class="iconBackTop"></a>
            <a href="javascript:;" class="iconShareTop"></a>

            <header>
                <div class="line">
                    <span></span>
                </div>
                <div class="xing"></div>
                <!-- 雪花 -->
                <i class="snowflake snowflake1"></i>
                <i class="snowflake snowflake2"></i>
            </header>
            <!--<div class="placeholder"></div>-->
            <nav>
                <span @touchstart="show('a18')" :class="tab == 'a18' ? 'select' : ''"></span>
                <span @touchstart="show('a19')" :class="tab == 'a19' ? 'select' : ''"></span>
                <span @touchstart="show('a20')" :class="tab == 'a20' ? 'select' : ''"></span>
            </nav>

            <!-- 18号 -->
            <div v-if="tab == 'a18'">
                <!-- 10点 -->
                <div class="list">
                    <div class="time">
                        <div>
                            <span>1</span><span>0</span><b>:</b><span>0</span><span>0</span>
                        </div>

                        <!-- 用毫秒时间写死 -->
                        <p v-if="is.falg" :class="is.start == 'a1810' ? 'select' : ''">
                            <em v-if="is.start == 'a1810'">限时特价进行中</em>
                            <em v-else>即将开始</em>
                        </p>
                        <p v-else>已结束</p>

                    </div>
                    <ul>
                        <li><a href=""><img src="images/christmas2/18-10-1.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-10-2.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-10-3.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-10-4.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-10-5.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-10-6.jpg" alt=""></a></li>
                    </ul>
                    <div class="bottom">
                        <i class="left"></i>
                        <i class="right"></i>
                        <div class="box">
                            <i class="fu"></i>
                            <div class="text">
                                <p>1.针对所有用户开发;</p>
                                <p>2.福袋不与优惠券同时使用；</p>
                                <p class="red">3.秒杀购买到福袋的用户，可以得到新春祝“福”字一张；</p>
                                <p>4.福袋不包邮，售出后不接受换货；</p>
                                <p>5.每个用户限秒3个福袋；</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 16点 -->
                <div class="list">
                    <div class="time">
                        <div>
                            <span>1</span><span>6</span><b>:</b><span>0</span><span>0</span>
                        </div>

                        <p v-if="is.falg" :class="is.start == 'a1816' ? 'select' : ''">
                            <em v-if="is.start == 'a1816'">限时特价进行中</em>
                            <em v-else>即将开始</em>
                        </p>
                        <p v-else>已结束</p>
                    </div>
                    <ul>
                        <li><a href=""><img src="images/christmas2/18-16-1.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-16-2.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-16-3.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-16-4.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-16-5.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-16-6.jpg" alt=""></a></li>
                    </ul>
                    <div class="bottom">
                        <i class="left"></i>
                        <i class="right"></i>
                        <div class="box">
                            <i class="fu"></i>
                            <div class="text">
                                <p>1.针对所有用户开发;</p>
                                <p>2.福袋不与优惠券同时使用；</p>
                                <p class="red">3.秒杀购买到福袋的用户，可以得到新春祝“福”字一张；</p>
                                <p>4.福袋不包邮，售出后不接受换货；</p>
                                <p>5.每个用户限秒3个福袋；</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 20点-->
                <div class="list">
                    <div class="time">
                        <div>
                            <span>2</span><span>0</span><b>:</b><span>0</span><span>0</span>
                        </div>
                        <p v-if="is.falg" :class="is.start == 'a1820' ? 'select' : ''">
                            <em v-if="is.start == 'a1820'">限时特价进行中</em>
                            <em v-else>即将开始</em>
                        </p>
                        <p v-else>已结束</p>
                    </div>
                    <ul>
                        <li><a href=""><img src="images/christmas2/18-20-1.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-20-2.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-20-3.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-20-4.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-20-5.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/18-20-6.jpg" alt=""></a></li>
                    </ul>
                    <div class="bottom">
                        <i class="left"></i>
                        <i class="right"></i>
                        <div class="box">
                            <i class="fu"></i>
                            <div class="text">
                                <p>1.针对所有用户开发;</p>
                                <p>2.福袋不与优惠券同时使用；</p>
                                <p class="red">3.秒杀购买到福袋的用户，可以得到新春祝“福”字一张；</p>
                                <p>4.福袋不包邮，售出后不接受换货；</p>
                                <p>5.每个用户限秒3个福袋；</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 19号 -->
            <div v-if="tab == 'a19'">
                <!-- 10点 -->
                <div class="list">
                    <div class="time">
                        <div>
                            <span>1</span><span>0</span><b>:</b><span>0</span><span>0</span>
                        </div>
                        <p :class="is.start == 'a1910' ? 'select' : ''">{{is.a19.a}}</p>
                        <!--<p class="select">限时特价进行中</p>-->
                    </div>
                    <ul>
                        <li><a href=""><img src="images/christmas2/19-10-1.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-10-2.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-10-3.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-10-4.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-10-5.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-10-6.jpg" alt=""></a></li>
                    </ul>
                    <div class="bottom">
                        <i class="left"></i>
                        <i class="right"></i>
                        <div class="box">
                            <i class="fu"></i>
                            <div class="text">
                                <p>1.针对所有用户开发;</p>
                                <p>2.福袋不与优惠券同时使用；</p>
                                <p class="red">3.秒杀购买到福袋的用户，可以得到新春祝“福”字一张；</p>
                                <p>4.福袋不包邮，售出后不接受换货；</p>
                                <p>5.每个用户限秒3个福袋；</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 16点 -->
                <div class="list">
                    <div class="time">
                        <div>
                            <span>1</span><span>6</span><b>:</b><span>0</span><span>0</span>
                        </div>
                        <p :class="is.start == 'a1916' ? 'select' : ''">{{is.a19.b}}</p>
                    </div>
                    <ul>
                        <li><a href=""><img src="images/christmas2/19-16-1.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-16-2.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-16-3.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-16-4.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-16-5.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-16-6.jpg" alt=""></a></li>
                    </ul>
                    <div class="bottom">
                        <i class="left"></i>
                        <i class="right"></i>
                        <div class="box">
                            <i class="fu"></i>
                            <div class="text">
                                <p>1.针对所有用户开发;</p>
                                <p>2.福袋不与优惠券同时使用；</p>
                                <p class="red">3.秒杀购买到福袋的用户，可以得到新春祝“福”字一张；</p>
                                <p>4.福袋不包邮，售出后不接受换货；</p>
                                <p>5.每个用户限秒3个福袋；</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 20点-->
                <div class="list">
                    <div class="time">
                        <div>
                            <span>2</span><span>0</span><b>:</b><span>0</span><span>0</span>
                        </div>
                        <p :class="is.start == 'a1920' ? 'select' : ''">{{is.a19.c}}</p>
                    </div>
                    <ul>
                        <li><a href=""><img src="images/christmas2/19-20-1.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-20-2.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-20-3.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-20-4.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-20-5.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/19-20-6.jpg" alt=""></a></li>
                    </ul>
                    <div class="bottom">
                        <i class="left"></i>
                        <i class="right"></i>
                        <div class="box">
                            <i class="fu"></i>
                            <div class="text">
                                <p>1.针对所有用户开发;</p>
                                <p>2.福袋不与优惠券同时使用；</p>
                                <p class="red">3.秒杀购买到福袋的用户，可以得到新春祝“福”字一张；</p>
                                <p>4.福袋不包邮，售出后不接受换货；</p>
                                <p>5.每个用户限秒3个福袋；</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 20号 -->
            <div v-if="tab == 'a20'">
                <!-- 10点 -->
                <div class="list">
                    <div class="time">
                        <div>
                            <span>1</span><span>0</span><b>:</b><span>0</span><span>0</span>
                        </div>
                        <p :class="is.start == 'a2010' ? 'select' : ''">{{is.a20.a}}</p>
                        <!--<p class="select">限时特价进行中</p>-->
                    </div>
                    <ul>
                        <li><a href=""><img src="images/christmas2/20-10-1.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-10-2.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-10-3.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-10-4.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-10-5.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-10-6.jpg" alt=""></a></li>
                    </ul>
                    <div class="bottom">
                        <i class="left"></i>
                        <i class="right"></i>
                        <div class="box">
                            <i class="fu"></i>
                            <div class="text">
                                <p>1.针对所有用户开发;</p>
                                <p>2.福袋不与优惠券同时使用；</p>
                                <p class="red">3.秒杀购买到福袋的用户，可以得到新春祝“福”字一张；</p>
                                <p>4.福袋不包邮，售出后不接受换货；</p>
                                <p>5.每个用户限秒3个福袋；</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 16点 -->
                <div class="list">
                    <div class="time">
                        <div>
                            <span>1</span><span>6</span><b>:</b><span>0</span><span>0</span>
                        </div>
                        <p :class="is.start == 'a2016' ? 'select' : ''">{{is.a20.b}}</p>
                    </div>
                    <ul>
                        <li><a href=""><img src="images/christmas2/20-16-1.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-16-2.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-16-3.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-16-4.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-16-5.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-16-6.jpg" alt=""></a></li>
                    </ul>
                    <div class="bottom">
                        <i class="left"></i>
                        <i class="right"></i>
                        <div class="box">
                            <i class="fu"></i>
                            <div class="text">
                                <p>1.针对所有用户开发;</p>
                                <p>2.福袋不与优惠券同时使用；</p>
                                <p class="red">3.秒杀购买到福袋的用户，可以得到新春祝“福”字一张；</p>
                                <p>4.福袋不包邮，售出后不接受换货；</p>
                                <p>5.每个用户限秒3个福袋；</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 20点-->
                <div class="list">
                    <div class="time">
                        <div>
                            <span>2</span><span>0</span><b>:</b><span>0</span><span>0</span>
                        </div>
                        <p :class="is.start == 'a2020' ? 'select' : ''">{{is.a20.c}}</p>
                    </div>
                    <ul>
                        <li><a href=""><img src="images/christmas2/20-20-1.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-20-2.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-20-3.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-20-4.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-20-5.jpg" alt=""></a></li>
                        <li><a href=""><img src="images/christmas2/20-20-6.jpg" alt=""></a></li>
                    </ul>
                    <div class="bottom">
                        <i class="left"></i>
                        <i class="right"></i>
                        <div class="box">
                            <i class="fu"></i>
                            <div class="text">
                                <p>1.针对所有用户开发;</p>
                                <p>2.福袋不与优惠券同时使用；</p>
                                <p class="red">3.秒杀购买到福袋的用户，可以得到新春祝“福”字一张；</p>
                                <p>4.福袋不包邮，售出后不接受换货；</p>
                                <p>5.每个用户限秒3个福袋；</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 倒记时 -->
            <div class="pos" v-show="is.show">
                <!--<nav>-->
                    <!--<span @touchstart="show('a18')" :class="tab == 'a18' ? 'select' : ''"></span>-->
                    <!--<span @touchstart="show('a19')" :class="tab == 'a19' ? 'select' : ''"></span>-->
                    <!--<span @touchstart="show('a20')" :class="tab == 'a20' ? 'select' : ''"></span>-->
                <!--</nav>-->
                <div class="endTime">
                    <p>福袋第二季，多件商品限时秒杀</p>
                    <div class="end">
                        <p>距离结束仅剩</p>
                        <div class="date">
                            <span>{{date.h}}</span>
                            <b>:</b>
                            <span>{{date.m}}</span>
                            <b>:</b>
                            <span>{{date.s}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </article>
</div>

</body>
<script type="text/javascript" src="js/iscroll-probe.js"></script>
<script>
/**

 标题：福袋第二季——疯抢三天，给力到底
 内容：年底最后一波狂欢，1月18日10点准时开抢

*/

    var app=new Vue({
        el:"#app",
        data:{
            myScroll:'',
            tab:'',
            obj:{
                headerHeight:0,     //广告高度
                pos:''              //浮动倒记时元素
            },
            is:{
                show:false,          //是否显示浮动倒记时
                notText:'即将开始',
                startText:'限时特价进行中',  //
                endText:'已结束',
                start:'',
                falg:true,
//                end:true,
                text:'即将开始',
                a18:{
                    a:'即将开始',
                    b:'即将开始',
                    c:'即将开始'
                },
                a19:{
                    a:'即将开始',
                    b:'即将开始',
                    c:'即将开始'
                },
                a20:{
                    a:'即将开始',
                    b:'即将开始',
                    c:'即将开始'
                }
            },
            date:{
                h:'',
                m:'',
                s:''
            }

        },
        ready:function(){
            var _this = this;
            var main = document.querySelector('.christmas2');
            this.obj.headerHeight = main.getElementsByTagName('header')[0].clientHeight;
            this.obj.pos = main.querySelector('.pos');

            //滚动
            this.browser() ? this.iosScroll() : this.androidScroll();

            /*

                18-20,tab颜色高度
                在每天的某个时间段需要要倒记时.文字改变与切换字体颜色

            */
            var date = new Date();
            // 不是2017年
            if(date.getFullYear() != 2017) return false;
            // 不是1月
            if(date.getMonth() != 0) return false;
            // 是18.19.20
            if(date.getDate() == 18){
                this.tab = 'a18';
                // 10点段
                //倒记时.到了10点开始以下一场时间来计算倒记时.还要切换文字
                if(date.getHours() >= 10 && date.getHours() < 16){
                    // 文字修改为白色
                    this.is.start = 'a1810';
                    // 修改文字内容


                }
                // 16点段
                if(date.getHours() >= 16 && date.getHours() < 20){
                    // 文字修改为白色
                    this.is.start = 'a1816';
                    // 修改文字内容

                }
                // 20点段
                if(date.getHours() >= 20){
                    // 文字修改为白色
                    this.is.start = 'a1820';
                }

            }else if(date.getDate() == 19){
                this.tab = 'a19';
            }else if(date.getDate() == 20){
                this.tab = 'a20';
            }
            //
            this.endDate('2017/01/16 22:35:00');
            console.log(date.getDate() + '|' + date.getHours());



        },
        methods:{
            browser:function(){
                //这是iOS平台下浏览器
                if(/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)){
                    return true;
                }else {
                    return false;
                }
            },
            show:function(str){
                this.tab = str;
            },
            endDate:function(str){
                var _this = this;
                var time = setInterval(function(){

                    var now = new Date().getTime();   //当前时间毫秒数
                    var end = new Date(str).getTime();     //指定时间毫秒数
                    var c = end - now;

                    if(c<=0){//如果差小于等于0  也就是过期或者正好过期，则推出程序
                        clearInterval(time);//清除计时器
                        _this.date = {
                            h : 0,
                            m : 0,
                            s : 0
                        }
                        return;//结束执行
                    }
                    var ds = 60*60*24*1000,                     //一天共多少毫秒
                    //d = parseInt(c/ds),                         //总毫秒/一天的毫秒=相差的天数
                    h = parseInt(c/(3600*1000)),                //总毫数/小时=相差的小时
                    m = parseInt((c - h*3600*1000)/(60*1000)),   //总毫数-小时数/每分钟的毫秒数=得到分钟数
                    s = parseInt((c - h*3600*1000 - m*60*1000) / 1000);  //(总毫秒 - 剩余天数 * 每天的毫秒 - 剩余小时 * 3600 * 1000 - 剩余分钟数 * 60 * 1000) / 1000 就是秒数 = 剩余秒数
                    //console.log(h + '小时' + m + '分' + s + '秒');
                    _this.date = {
                        h : h,
                        m : m,
                        s : s
                    }

                },1000)
            },
            iosScroll:function(){
                var _this = this;
                this.myScroll = new IScroll('#wrapper', {
                    //bounce : false,
                    click : true,
                    checkDOMChanges : true,
                    probeType: 3,
                    mouseWheel: true
                });

                this.myScroll.on('scroll', updatePosition);
                this.myScroll.on('scrollEnd', updatePosition);
                function updatePosition () {
                    var top = Math.abs(this.y);

                    // 是否显示倒记时
                    if(top > _this.obj.headerHeight){
                        // 显示浮动倒记时
                        _this.is.show = true;
                        _this.obj.pos.style.top = top + "px";
                    }else{
                        // 隐藏浮动倒记时
                        _this.is.show = false;
                    }
                }
            },
            androidScroll:function(){
                //console.log('android');
                var _this = this;
                var main = document.querySelector('.main');
                main.addEventListener('scroll',function(){
                    var top = this.scrollTop;
                    //滚动浮动
                    if(top > _this.obj.headerHeight){
                        _this.is.show = true;
                        _this.obj.pos.style.position = "fixed";
                        _this.obj.pos.style.top = 0 + "px";
                    }else{
                        _this.obj.pos.style.position = "";
                        _this.is.show = false;
                    }
                },false);
            }
        }
    });





</script>

</html>