@charset "UTF-8";
@import "comm/reset";
@import "comm/css3";
@import "comm/common";


//关注公众号页面
.box{
  width:pxTorem(750px);
  height:pxTorem(1400px);
  margin: 0 auto;
  background-image: url("428325885880416736.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:100% 100%;
  position: relative;
  .code{
    position: absolute;
    left:pxTorem(230px);
    top:pxTorem(900px);
    width:pxTorem(290px);
    height:pxTorem(290px);
  }
}
