@charset "UTF-8";
@import "comm/css3";
@import "comm/common";

/*

  普通鉴定

*/


// 普通鉴定
.appraisalOrdinary{
  .titleInfo{
    $h:89px;
    height: pxTorem($h);
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
    padding:0 pxTorem(15px);
    b,span{
      display: inline-block;
      font-size:pxTorem(28px);
      height: pxTorem($h);
      line-height: pxTorem($h);
    }
    b{
      margin-right: pxTorem(15px);
      font-weight: normal;
    }
    span{
      color:#999;
    }
  }
  .photo{
    @extend %clearfix;
    padding:pxTorem(35px) pxTorem(30px) pxTorem(15px) pxTorem(30px);
    margin-bottom: pxTorem(20px);
    background: #fff;
    $w:200px;
    $mr:20px;
    .add{
      width: pxTorem($w);
      height: pxTorem($w);
      float: left;
      margin-right: pxTorem($mr);
      margin-bottom: pxTorem($mr);
      position: relative;
      @extend %ico_rem;
      //background-color: #e5e5e5;
      //border:1px dashed #8b8b8b;
      background-image: url("../images/appraisalPostPhoto.jpg");
      &:after,&:before{
        content: '\20';
        background: #8b8b8b;
        position: absolute;
        left:50%;
        top:50%;
      }
      &:before{
        width: pxTorem(50px);
        height: pxTorem(6px);
        margin:pxTorem(- 6px / 2) 0 0 pxTorem(- 50px / 2);
      }
      &:after{
        height: pxTorem(50px);
        width: pxTorem(6px);
        margin:pxTorem(- 50px / 2) 0 0 pxTorem(- 6px / 2);
      }
    }
    input[type='file']{
      @include opacity(0);
      position: absolute;
      left:0;
      top:0;
      z-index: 2;
      width: 100%;
      height: 100%;
    }
    .list{
      width: pxTorem($w);
      height: pxTorem($w);
      margin-right: pxTorem($mr);
      margin-bottom: pxTorem($mr);
      position: relative;
      float: left;
    }
    img{
      width: pxTorem($w);
      height: pxTorem($w);
      vertical-align: middle;
    }
    i{
      position: absolute;
      right:pxTorem(5px);
      top:pxTorem(5px);
      width:pxTorem(42px);
      height: pxTorem(42px);
      background: rgba(0,0,0,.3);
      @include border-radius(50%);
      @include rotate(45deg);
      &:after,&:before{
        content: "\20";
        position: absolute;
        background:#fff;
        left:50%;
        top:50%;
      }
      &:before{
        margin:0 0 -1px pxTorem(-14px);
        width:pxTorem(28px);
        height:1px;
      }
      &:after{
        margin:pxTorem(-14px) -1px 0 0;
        width:1px;
        height:pxTorem(28px);
      }
    }
  }
  .textarea{
    background: #fff;
    margin-bottom: pxTorem(20px);
    padding: pxTorem(10px);
    textarea{
      display: block;
      width: 100%;
      height: pxTorem(180px);
      border:none;
    }
  }
  .itemInfo{
    .line{
      margin:0;
      background-color: #e5e5e5;
    }
  }
  .appraisalNotice{
    background: #fff;
    padding:pxTorem(30px) pxTorem(30px) pxTorem(20px) pxTorem(30px);
    margin-top: pxTorem(20px);
    h2{
      font-size:pxTorem(28px);
      margin-bottom: pxTorem(10px);
      color: $red-base;
    }
    p{
      font-size:pxTorem(24px);
      line-height:pxTorem(40px);
    }
  }
  .submitBtn{
    $h:90px;
    height: pxTorem($h);
    padding: pxTorem(20px);
    background: #fff;
    a{
      display: block;
      width: 92%;
      height: pxTorem($h);
      margin:0 auto;
      line-height: pxTorem($h);
      text-align: center;
      font-size:pxTorem(28px);
      color:#fff;
      background: $blue-base;
      @include border-radius(pxTorem(8px));
    }
  }
}

.posAlert{
  background: #eee;
}
// 更多材质弹窗
.appraisalAlertMaterial{
  $h:89px;
  background: #fff;
  li{
    padding:0 pxTorem(30px);
    height:pxTorem($h);
    line-height:pxTorem($h);
    border-top:1px solid #e5e5e5;
    font-size:pxTorem(28px);
    &:first-child{
      border-top:0;
    }
    &.select{
      background: #f0f0f2;
    }
  }
}
//新手教学弹窗
.alertBox{
  @include display-flex();
  @include align-items(baseline);
  @include justify-content(flex-start);
  @include flex-direction(column);
  z-index: 100;
  background:#fff;
  position: fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  border-radius:pxTorem(10px);
  padding:pxTorem(15px);
  margin:pxTorem(20px) pxTorem(60px);
  overflow-x: auto;
  .box{
    $h:50px;
    $w:295px;
    //height: pxTorem(200px);
    padding:pxTorem(12px) pxTorem(8px);
    position: relative;
    text-align: center;
    .title{
      @include font-dpr(26px);
      width: pxTorem($w);
      border-radius:pxTorem(40px);
      height: pxTorem($h);
      line-height: pxTorem($h);
      background:$blue-base;
      color:#fff;
      display: inline-block;
      margin-bottom: pxTorem(18px);
      //font-size:pxTorem(28px);
      //@extend %fl;
    }
    .info{
      font-size:pxTorem(26px);
      text-align: left;
      img{
        display: block;
        width: 100%;
        vertical-align: middle;
        margin-bottom: pxTorem(10px);
      }
    }
  }
  footer{
    margin:0 auto;
    padding-bottom:pxTorem(20px);
    a{
      margin:pxTorem(20px) auto 0;
      display: block;
      width:pxTorem(480px);
      height:pxTorem(80px);
      line-height:pxTorem(80px);
      text-align: center;
      @include font-dpr(32px);
      color:#fff;
      background: $blue-base;
      @include border-radius(8px);
    }
  }
  .exit{
    z-index:20;
    width:pxTorem(48px);
    height:pxTorem(48px);
    //background: rgba(255,255,255,.3);
    position: absolute;
    right:pxTorem(20px);
    top:pxTorem(20px);
    border:1px solid #333;
    @include border-radius(50%);
    &:after,&:before{
      content: "\20";
      position: absolute;
      background:#a0a0a0;
      left:50%;
      top:50%;
      @include rotate(45deg);
    }
    &:before{
      margin:-1px 0 0 pxTorem(-14px);
      width:pxTorem(28px);
      height:2px;
    }
    &:after{
      margin:pxTorem(-14px) 0 0 -1px;
      width:2px;
      height:pxTorem(28px);
    }
  }
}

