@charset "UTF-8";
@import "comm/css3";
@import "comm/common";

/*

  鉴定首页展示列表

*/

.appraisalShowList{
  li{
    background: #fff;
    margin-bottom: pxTorem(8px);
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-top:pxTorem(25px);
    padding-bottom:pxTorem(30px);
    padding-left:pxTorem(30px);
    padding-right:pxTorem(22px);
    &:nth-child(1){
      border-top:0;
    }
  }
  .top{
    $h:70px;
    height:pxTorem($h);
    margin-bottom: pxTorem(25px);
  }
  .face{
    $h:70px;
    height:pxTorem($h);
    img{
      width: pxTorem($h);
      height: pxTorem($h);
      vertical-align: middle;
      @include border-radius(50%);
      float:left;
    }
    span{
      display: block;
      margin-left:pxTorem($h + 15);
      height: pxTorem($h);
      line-height: pxTorem($h);
    }
  }
  .photo{
    margin-bottom: pxTorem(10px);
    $w:224px;
    $h:248px;
    @extend %clearfix;
    a{
      float: left;
      display: inline-block;
      margin-right:pxTorem(8px);
      margin-bottom:pxTorem(8px);
      width: pxTorem($w);
      height: pxTorem($h);
      position: relative;
    }
    img{
      vertical-align: middle;
      width: pxTorem($w);
      height: pxTorem($h);
    }
    i{
      &.already{
        position: absolute;
        right:0;
        bottom:0;
        width:pxTorem(153px);
        height:pxTorem(146px);
        @extend %ico_rem;
        background-image: url("../images/iconAlreadyAppraisal.png");
      }
    }
  }
  .text{
    p{
      font-size:pxTorem(28px);
      line-height:pxTorem(50px);
    }
  }
  .bottom{
    margin-top: pxTorem(20px);
    @include display-flex();
    @include align-items();
    @include justify-content();
  }
  .time{
    font-size:pxTorem(20px);
    color: #666;
  }
  .commentNum{
    $h:31px;
    a{
      color: #333;
    }
    i{
      vertical-align: top;
      display: inline-block;
      width: pxTorem(35px);
      height: pxTorem(31px);
      margin-right: pxTorem(20px);
      @extend %ico_rem;
      background-image: url("../images/iconAppraisalCommentNum.png");
    }
    span{
      vertical-align: top;
      font-size:pxTorem(22px);
      display: inline-block;
      color: #666;
      height:pxTorem($h);
      line-height:pxTorem($h);
    }
  }
}

