@charset "UTF-8";
//@import "comm/reset";
@import "comm/css3";
@import "comm/common";


/*

  图文列表

*/


.photoArticleList{
  $stepLR:20px;   //页面左右间距
  $stepT:35px;    //文字与图片间隔
  padding-bottom: pxTorem(50px);
  h1{
    margin:pxTorem(30px) pxTorem($stepLR);
    @include font-dpr(32px);
  }
  //全屏图片-没有左右间隔
  .slider{
    $h:380px;
    //height:pxTorem($h);
    a{
      display: block;
      //width:100%;
      //height:100%;
    }
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
  //文字内容
  p{
    margin:pxTorem($stepT) pxTorem($stepLR) 0;
    line-height:pxTorem(50px);
    @include font-dpr(28px);
  }
  //商品图片
  .photo{
    margin:pxTorem($stepT) pxTorem($stepLR) 0;
    position: relative;
    a{
      display: block;
    }
    img{
      width: 100%;
      vertical-align: middle;
    }
    .pos{
      @include display-flex();
      @include align-items();
      position: absolute;
      right:pxTorem(40px);
      bottom:pxTorem(60px);
      .circle{
        width: pxTorem(10px);
        height: pxTorem(10px);
        margin-right: pxTorem(15px);
        position: relative;
        &:before,&:after{
          content: '\20';
          @include border-radius(50%);
          position: absolute;
          left:0;
          top:0;
          right: 0;
          bottom: 0;
        }
        &:before{
          background: rgba(51,51,51,.8);
          @include animation(to 2s infinite);
        }
        &:after{
          border:1px solid #fff;
          background: $red-base;
        }
      }
      span{
        @include flex(1);
        color: #fff;
        @include font-dpr(20px);
        height: pxTorem(40px);
        line-height: pxTorem(40px);
        background: rgba(51,51,51,.8);
        padding-left:pxTorem(10px);
        margin-left:pxTorem(20px);
        padding-right:pxTorem(10px);
        @include border-radius(pxTorem(18px) pxTorem(8px) pxTorem(8px) pxTorem(18px));
        position: relative;
        //三角形
        //&:before{
        //  content: '\20';
        //  position: absolute;
        //  left:pxTorem(-36px);
        //  top:0;
        //  height: pxTorem(20px);
        //  @include arrow(left,$w:pxTorem(20px),$c:#333);
        //  @include opacity(80);
        //}
      }
    }
  }
  //分隔区
  .line{
    margin-top:pxTorem($stepT);
    background: $color-eee;
    height: pxTorem(10px);
  }

  //呼吸动画
  @include keyframes(to){
    0%{
      @include scale(1);
    }
    50%{
      @include scale(3.5);
    }
    100%{
      @include scale(1);
    }
  }




  //推荐产品列表
  ul{
    $h:170px;
    margin:pxTorem($stepT) pxTorem($stepLR) 0 pxTorem($stepLR);
    li{
      border:1px solid #999;
      height: pxTorem($h);
      padding:pxTorem(20px);
      position: relative;
    }
    img{
      width: pxTorem($h);
      height: pxTorem($h);
      vertical-align: middle;
    }
    h3{
      @include font-dpr(32px);
    }
    strong{
      @include font-dpr(32px);
      color:$red-base;
      font-weight: bold;
    }
    a{

      //购买按钮
      &.buyBtn{
        position: absolute;
        right:pxTorem(20px);
        bottom:pxTorem(20px);
        display: block;
        @include font-dpr(28px);
        width:pxTorem(148px);
        height: pxTorem(54px);
        line-height: pxTorem(54px);
        text-align: center;
        color: #fff;
        background: $red-base;
        @include border-radius(pxTorem(6px));
      }
    }
  }



}

