@charset "UTF-8";
//@import "comm/reset";
@import "comm/css3";
@import "comm/common";


/*

  图文列表

*/

$stepLR:20px;   //页面左右间距
$stepT:35px;    //文字与图片间隔

.businessPhotoArticle{
  padding-bottom: pxTorem(80px);
  h1{
    margin:pxTorem(30px) pxTorem($stepLR);
    @include font-dpr(32px);
  }
  //全屏图片-没有左右间隔
  .slider{
    $h:380px;
    //height:pxTorem($h);
    a{
      display: block;
      //width:100%;
      //height:100%;
    }
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
  //文字内容
  p{
    margin:pxTorem($stepT) pxTorem($stepLR) 0;
    line-height:pxTorem(50px);
    @include font-dpr(28px);
  }
  //商品图片
  .photo{
    margin:pxTorem($stepT) pxTorem($stepLR) 0;
    position: relative;
    a{
      display: block;
    }
    img{
      width: 100%;
      vertical-align: middle;
    }
    .pos{
      @include display-flex();
      @include align-items();
      position: absolute;
      right:pxTorem(40px);
      bottom:pxTorem(60px);
      .circle{
        width: pxTorem(10px);
        height: pxTorem(10px);
        margin-right: pxTorem(15px);
        position: relative;
        &:before,&:after{
          content: '\20';
          @include border-radius(50%);
          position: absolute;
          left:0;
          top:0;
          right: 0;
          bottom: 0;
        }
        &:before{
          background: rgba(51,51,51,.8);
          @include animation(breathing 2s infinite);
        }
        &:after{
          border:1px solid #fff;
          background: $red-base;
        }
      }
      span{
        @include flex(1);
        color: #fff;
        @include font-dpr(20px);
        height: pxTorem(40px);
        line-height: pxTorem(40px);
        background: rgba(51,51,51,.8);
        padding-left:pxTorem(10px);
        margin-left:pxTorem(10px);
        padding-right:pxTorem(10px);
        @include border-radius(pxTorem(8px) pxTorem(8px) pxTorem(8px) pxTorem(8px));
        //position: relative;
        //三角形
        //&:before{
        //  content: '\20';
        //  position: absolute;
        //  left:-1px;
        //  top:0;
        //  height: pxTorem(30px);
        //  width: pxTorem(30px);
        //  background: rgba(51,51,51,.8);
        //  @include rotate(45deg);
        //}
      }
    }
  }
  //分隔区
  .line{
    margin-top:pxTorem($stepT);
    background: $color-eee;
    height: pxTorem(10px);
  }

  //呼吸动画
  @include keyframes(breathing){
    0%{
      @include scale(1);
    }
    50%{
      @include scale(3.5);
    }
    100%{
      @include scale(1);
    }
  }

  //更多美物
  .moreBtn{
    $h:46px;
    height: pxTorem($h + 6);
    text-align: center;
    padding-top:pxTorem(10px);
    a{
      display: inline-block;
      border:2px solid $red-base;
      height: pxTorem($h);
      line-height: pxTorem($h);
      @include font-dpr(28px);
      color:$red-base;
      padding:0 pxTorem(22px);
      @include border-radius(pxTorem(6px));
      &:active{
        background: $red-base;
        color:#fff;
      }
    }
  }


}


//推荐产品列表
.businessPhotoArticleList{
  $h:170px;
  margin:pxTorem($stepT) pxTorem($stepLR) 0 pxTorem($stepLR);
  li{
    border:1px solid #999;
    height: pxTorem($h);
    padding:pxTorem(20px);
    margin-bottom: pxTorem(30px);
    @include display-flex();
  }
  .img{
    width: pxTorem($h);
    height: pxTorem($h);
    a{
      display: block;
    }
  }
  img{
    width: pxTorem($h);
    height: pxTorem($h);
    vertical-align: middle;
  }
  .box{
    @include flex(1);
    height: pxTorem($h);
    margin-left:pxTorem(20px);
    position: relative;
  }
  h3{
    @include font-dpr(32px);
    height: pxTorem(100px);
    line-height:pxTorem(50px);
    margin-bottom:pxTorem(35px);
    overflow: hidden;
  }
  strong{
    display: block;
    @include font-dpr(32px);
    color:$red-base;
    font-weight: bold;
  }
  a{
    //购买按钮
    &.buyBtn{
      position: absolute;
      right:0;
      bottom:0;
      display: block;
      @include font-dpr(28px);
      width:pxTorem(148px);
      height: pxTorem(54px);
      line-height: pxTorem(54px);
      text-align: center;
      color: #fff;
      background: $red-base;
      @include border-radius(pxTorem(6px));
    }
  }
}

.businessPhotoArticleEntrance{
  padding-bottom: pxTorem(80px);
  .face{
    margin:0 auto 0;
    width: pxTorem(160px);
    height: pxTorem(160px);
    border:1px solid #ddd;
    @include border-radius(50%);
    @include display-flex();
    @include align-items();
    @include justify-content(center);
    position: relative;
    a{
      display: block;
    }
    img{
      width: pxTorem(138px);
      height: pxTorem(138px);
      @include border-radius(50%);
    }
    i{
      position: absolute;
      right:0;
      bottom:0;
      width:pxTorem(40px);
      height: pxTorem(40px);
      @extend %ico_rem;
      background-image: url('../images/iconMerchant.png');
    }
  }
  h2{
    text-align: center;
    @include font-dpr(36px);
    margin-top:pxTorem(20px);
  }
  p{
    margin:pxTorem(15px) pxTorem($stepLR) 0;
    text-align: center;
    color:#666;
  }
}

