@charset "UTF-8";
@import "comm/css3";
@import "comm/common";

/*
  集珍坊APP多品类主页
*/

//可以滚动
.indexsTab{
  @import "inc/tabShow";
  @include tabShow($h:60px,$select:$red-base,$sharing:false);
  //@include tabShow($h:60px,$select:$red-base);
  //padding-top:pxTorem(10px);
  background: #f9f9f9;
  overflow-x: auto;
  width: 100%;
  //border-bottom: 0;
  //隐藏滚动条
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  .scroll{

  }
  a{
    float: left;
    //width:pxTorem(120px);
    padding-left: pxTorem(30px);
    padding-right: pxTorem(30px);
  }
}

//平均分Tab
.averageTab{
  @import "inc/tabShow";
  @include tabShow($h:60px,$select:$red-base);
  padding-top:pxTorem(10px);
  border-bottom: 1px solid #eee;
}

//公告消息
.indexsNotice{
  margin-bottom: pxTorem(10px);
  border-bottom: 1px solid #ddd;
  $h:50px;
  height: pxTorem($h);
  padding: pxTorem(16px) pxTorem(20px);
  @include display-flex();
  background: #fff;
  overflow: hidden;
  i{
    margin-top:pxTorem(5px);
    width:pxTorem(41px);
    height: pxTorem(40px);
    display: block;
    @extend %ico_rem;
    background-image: url("../images/indexsNotice.png");
  }
  .box{
    margin:0 0 0 pxTorem(20px);
    height: pxTorem($h);
    border-left:1px solid #ddd;
    @include flex(1);
    overflow: hidden;
    width: 98%;
  }
  ul{

  }
  li{
    padding-left:pxTorem(20px);
    height: pxTorem($h);
    line-height: pxTorem($h);
    overflow: hidden;
    color:#999;
  }
}
//公告消息下方无间隔
.mbN{
  margin-bottom: 0;
}

//自营
.indexsSelf{
  margin-bottom: pxTorem(10px);
  //height: pxTorem(318px);
  background: #fff;
  width: 100%;
  overflow: hidden;
  h2{
    $h:99px;
    text-align: center;
    @include font-dpr(30px);
    height: pxTorem($h);
    a{
      display: block;
      height: pxTorem($h);
      line-height: pxTorem($h);
      color: #333;
      &:after{
        display: inline-block;
        @extend %iconfont;
        content: "\e61f";
        vertical-align: top;
        @include font-dpr(20px);
      }
    }
  }
  .scroll{
    $h:210px;
    height: pxTorem($h);
    padding-bottom: pxTorem(10px);
    overflow-x:auto;
    &::-webkit-scrollbar{
      width: 0;
      height: 0;
    }
    ul{
      //height: pxTorem($h);
    }
    li{
      width: pxTorem($h);
      height: pxTorem($h);
      float: left;
      padding-right: pxTorem(10px);
      &.more{
        width: pxTorem(89px);
        height: pxTorem(210px);
        @include font-dpr(28px);
        padding-right: 0;
        text-align: center;
        a{
          padding:pxTorem(75px) pxTorem(10px) 0 pxTorem(10px);
          width: pxTorem(89px - 20);
          height: pxTorem(206px - 75);
          border:1px solid #d6d6d6;
          @include font-dpr(28px);
          color: #999;
        }
      }
    }
    a{
      display: block;
      position: relative;
      width: pxTorem($h);
      height: pxTorem($h);
    }
    img{
      width: pxTorem($h);
      height: pxTorem($h);
      vertical-align: middle;
    }
    span{
      color: #fff;
      text-align: center;
      width: 100%;
      position: absolute;
      left:0;
      bottom: 0;
      height: pxTorem(48px);
      line-height: pxTorem(48px);
      background: rgba(0,0,0,.8);
    }
  }
}

//店铺商品
.indexsShop{
  $titleH:80px;
  $photoH:360px;
  margin-bottom: pxTorem(10px);
  .title{
    $imgH:74px;
    height:pxTorem($titleH);
    background: #fff;
    position: relative;
    z-index: 2;
    .img{
      position: absolute;
      left:pxTorem(20px);
      top:pxTorem(10px);
      $h:74px;
      width: pxTorem($imgH);
      height: pxTorem($imgH);
      border:1px solid #ccc;
      background: #fff;
      @include border-radius(50%);
      padding:pxTorem(5px);
    }
    img{
      width: pxTorem($imgH);
      height: pxTorem($imgH);
      vertical-align: middle;
      @include border-radius(50%);
    }
    h2{
      height:pxTorem($titleH);
      line-height:pxTorem($titleH);
      @include font-dpr(32px);
      padding-left:pxTorem(125px);
      float: left;
    }
    i{
      margin:pxTorem(29px) 0 0 pxTorem(10px);
      vertical-align: top;
      display: inline-block;
      width:pxTorem(26px);
      height:pxTorem(26px);
      @extend %ico_rem;
      background-image: url("../images/iconMerchant.png");
    }
    a{
      &.enter{
        float:right;
        height: pxTorem($titleH);
        line-height: pxTorem($titleH);
        margin-right: pxTorem(20px);
        color:#999;
        &:after{
          display: inline-block;
          @extend %iconfont;
          content: "\e61f";
          @include font-dpr(20px);
          vertical-align: middle;
        }
      }
    }
  }
  .photo{
    height:pxTorem($photoH);
    position: relative;
    z-index: 1;
    a{
      display: block;
      height:pxTorem($photoH);
    }
    img{
      height:pxTorem($photoH);
      width: 100%;
      vertical-align: middle;
    }
    p{
      position: absolute;
      left:0;
      bottom: 0;
      width: 100%;
      height: pxTorem(68px);
      line-height: pxTorem(68px);
      color:#fff;
      @include font-dpr(28px);
      padding-left:10px;
    }
  }
}

//分类入口
.classifyEntrance{
  $h:240px;
  height: pxTorem($h);
  @include display-flex();
  margin-bottom: pxTorem(10px);
  a{
    position: relative;
    display: block;
    @include flex(1);
    height: pxTorem($h);
    &:nth-child(n+2){
      margin-left:pxTorem(10px);
    }
  }
  img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  h3,p{
    position: absolute;
    left:pxTorem(20px);
    color:#fff;
  }
  h3{
    top:pxTorem(30px);
    @include font-dpr(30px);
  }
  p{
    top:pxTorem(70px);
    @include font-dpr(20px);
  }
}

//专场
.specialEntrance{
  margin-bottom: pxTorem(10px);
}


//专场|私洽
.specialEntrance,.privateEntrance{
  $h:320px;
  height:pxTorem($h);
  a{
    display: block;
  }
  img{
    height:pxTorem($h);
    vertical-align: middle;
    width: 100%;
  }
}


//精品推荐标题
.recommendTitle{
  $h:90px;
  height:pxTorem($h);
  line-height:pxTorem($h);
  text-align:center;
  @include font-dpr(32px);
  strong{
    position: relative;
    color:#333333;
    &:before,&:after{
      content: "\20";
      position: absolute;
      top:50%;
      height:1px;
      width:pxTorem(60px);
      background:#999999;
    }
    &:before{
      left:pxTorem(-70px);
    }
    &:after{
      right:pxTorem(-70px);
    }
  }
  a{
    color: #333;
  }
}

//浮动首页与用户中心入口
.indexPosEntrance{
  $h:90px;
  height: pxTorem($h);
  position: fixed;
  right: pxTorem(15px);
  bottom: pxTorem(60px);
  z-index:59;
  a{
    display: inline-block;
    width: pxTorem($h);
    height: pxTorem($h - 20);
    @include border-radius(50%);
    margin-left:pxTorem(10px);
    text-align: center;
    padding-top:pxTorem(20px);
    &:after{
      display: inline-block;
      content: '\20';
      @extend %ico_rem;
    }
    &.home{
      background: rgba(255,255,255,.9);
      &:after{
        width: pxTorem(44px);
        height:pxTorem(46px);
        background-image: url("../images/iconIndexFloatHome.png");
      }
    }
    &.user{
      background: rgba(51,51,51,.9);
      &:after{
        width: pxTorem(42px);
        height:pxTorem(46px);
        background-image: url("../images/iconIndexFloatUser.png");
      }
    }
  }
}


@if $wxTop {

  //微信隐藏分享页
  .sharePagePhoto{
    display: none;
  }

} @else{

  //app上分享页
  .sharePagePhoto{
    position: fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    img{
      position: absolute;
      left:0;
      top:0;
      vertical-align: middle;
      width: 100%;
      height: 100%;
    }
    .btn{
      width: 100%;
      position: absolute;
      left:0;
      bottom:pxTorem(142px);
      $h:70px;
      height: pxTorem($h);
      margin:0;
      a{
        display: block;
        margin:0 auto;
        width:pxTorem(360px);
        height: pxTorem($h);
        line-height: pxTorem($h);
        background: $red-base;
        color:#fff;
        @include font-dpr(34px);
        @include border-radius(pxTorem(30px));
      }
    }
  }

  //引导页
  .appGuidePage{
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index: 999;
    background:#fff;
    ul{
      font-size:0;
      height:100%;
      z-index:29;
      position:relative;
      white-space:nowrap;
    }
    li{
      position:relative;
      display:inline-block;
      width:100%;
      height:100%;
      vertical-align:top;
      white-space:normal;
      .box{
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        width:100%;
        height:100%;
        -webkit-backface-visibility:hidden;
        @include display-flex();
        @include align-items();
        @include justify-content(center);
      }
      img{
        max-width:100%;
        height:auto;
      }
    }
    //按钮
    .btn{
      position: absolute;
      left:0;
      //top:80%;
      top:pxTorem(1070px);
      width:100%;
      margin:0;
      a{
        margin:0 auto;
        width:pxTorem(286px);
        height:pxTorem(80px);
        line-height:pxTorem(80px);
        text-align:center;
        color:#fff;
        @include font-dpr(32px);
        background: $red-base;
        @include border-radius(2px);
      }
    }
    //小圆圈
    .tab{ //与首页轮播.indexAdTab样式一样
      $w:15px;
      z-index:30;
      position: absolute;
      left:0;
      bottom:pxTorem(30px);
      width:100%;
      height:pxTorem($w + 4);
      text-align:center;
      span{
        margin-left:pxTorem(15px);
        vertical-align: top;
        @include border-radius(50%);
        display: inline-block;
        width:pxTorem($w - 4);
        height:pxTorem($w - 4);
        border:pxTorem(2px) solid #fff;
        &.select{
          border:0;
          background:#fff;
          width:pxTorem($w);
          height:pxTorem($w);
        }
        &:nth-child(1){
          margin-left:0;
        }
      }
    }
  }

}
