@charset "UTF-8";
@import "comm/css3";
@import "comm/common";

// 登录切换
.loginTab{
  $h:80px;
  border-bottom:1px solid #e5e5e5;
  .con{
    height: pxTorem($h);
    @include display-flex();
    a{
      text-align: center;
      height: pxTorem($h);
      line-height: pxTorem($h);
      display: block;
      @include flex(1);
      @include font-dpr(28px);
      color:#333;
      &.select{
        color:$blue-base;
      }
    }
  }
  .slide{
    width: 50%;
    height:2px;
    background:$blue-base;
    @include translateX(0px);
    @include transition(transform .5s);
  }
}


.login{
  $h:80px;
  margin-top: pxTorem(20px);
  white-space: nowrap;
  @include translateX(0px);
  @include transition(transform .5s);
  .con{
    //position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
  .import{
    @include display-flex();
    height: pxTorem($h);
    @include font-dpr(28px);
    position: relative;
    margin-left:pxTorem(25px);
    border-bottom: 1px solid #e5e5e5;
    span{
      display: block;
      //text-align: center;
      width: pxTorem(120px);
      height: pxTorem($h);
      line-height: pxTorem($h);
      color:#333;
    }
    input[type='tel'],input[type='text'],input[type='password']{
      @include flex(1);
      display: block;
      height: pxTorem($h);
      line-height: pxTorem($h);
      border:0;
    }
    .getCode{
      padding:pxTorem(10px);
      position: absolute;
      right:pxTorem(25px);
      top:pxTorem(15px);
      background:$blue-base;
      color: #fff;
      &.select{
        background:#ccc;
      }
    }
  }
  .last{
    margin-left:0;
    padding-left:pxTorem(25px);
  }
}

// 提示文字
.infoText{
  text-align: center;
  color:#999;
  margin-top:pxTorem(35px);
  @include font-dpr(26px);
}

// 登录按钮
.loginBtn{
  $h:90px;
  margin: pxTorem(35px) pxTorem(30px) 0;
  a{
    display: block;
    background-color: $blue-base;
    @include border-radius(pxTorem(8px));
    height: pxTorem($h);
    line-height: pxTorem($h);
    @include font-dpr(32px);
    text-align: center;
    color:#fff;
    &.select{
      background: #e5e5e5;
    }
    //&:active{
    //  background-color: $blue-hover-base;
    //}
  }

}

// 忘记密码
.backPass{
  margin:0 pxTorem(35px) 0 pxTorem(35px);
  text-align: right;
  a{
    display: inline-block;
    color: #3366cc;
    padding:pxTorem(20px) 0;
  }
}


//第三方登录
.cooperationLogin{
  margin-top:pxTorem(400px);
}
