@charset "UTF-8";
@import "comm/css3";
@import "comm/common";

/*
  情人节
*/


.love{
  background-color: #fdc2c5;
  .iconBackTop,.iconShareTop{
    position: absolute;
  }

  header{
    height: pxTorem(1540px);
    @extend %ico_rem;
    background-size: 100% 100%;
    background-image: url("../images/love/header.jpg");
  }

  .list{
    position: relative;
    padding-bottom: pxTorem(165px);
    ul{
      $h:304px;
      position: relative;
      z-index: 2;
      margin:0 5%;
      li{
        height: pxTorem($h);
        margin-bottom: pxTorem(20px);
        &:last-child{
          margin-bottom: 0;
        }
      }
      a{
        display: block;
        height: pxTorem($h);
      }
      img{
        vertical-align: middle;
        height: pxTorem($h);
        width: 100%;
      }
    }
    // 云
    .cloud{
      z-index: 1;
      position: absolute;
      left:0;
      bottom:0;
      width:100%;
      height:pxTorem(211px);
      @extend %ico_rem;
      background-size: 100% 100%;
      background-image: url("../images/love/footer.png");
    }
  }

}

