@charset "UTF-8";
@import "comm/css3";
@import "comm/common";

/*
  年货
*/


.nianhuo{
  background-color: #b42625;
  background-image: url("../images/nianhuo/bg.jpg");
  padding-bottom: pxTorem(135px);
  .iconBackTop,.iconShareTop{
    position: absolute;
  }

  header{
    height: pxTorem(986px);
    @extend %ico_rem;
    background-size: 100% 100%;
    background-image: url("../images/nianhuo/headerBg.jpg");
    @include box-shadow(0 3px 3px rgba(150,30,29,.75));
  }
  nav{
    $h:154px;
    height: pxTorem($h);
    z-index: 20;
    position: absolute;
    left:0;
    top:pxTorem(986px);
    width: 100%;
    @include display-flex();
    a{
      @include flex(1);
      display: block;
      height: pxTorem($h);
      width: pxTorem(137px);
      @extend %ico_rem;
      //background-image: url("../images/nianhuo/scroll.png");
      text-align: center;
      &.use{
        background-image: url("../images/nianhuo/navuse.png");
      }
      &.food{
        background-image: url("../images/nianhuo/navfood.png");
      }
      &.lucky{
        background-image: url("../images/nianhuo/navlucky.png");
      }
      &.safety{
        background-image: url("../images/nianhuo/navsafety.png");
      }
      &.tea{
        background-image: url("../images/nianhuo/navtea.png");
      }
    }
    b{
      font-weight: normal;
      color: #fff;
      border-bottom: 2px solid #b42625;
    }
    span{
      display: block;
      color: #fff100;
    }
  }
  //点位
  .scrollPlace{
    $h:154px;
    height: pxTorem($h - 73 + 5);
  }
  .list{
    width: pxTorem(750px);
    margin:0 auto;
    margin-top:pxTorem(73px);
    padding-bottom: pxTorem(32px);
    position: relative;
    .top{
      margin:0 auto;
      width: pxTorem(727px);
      height: pxTorem(144px - 6);
      padding-top: pxTorem(6px);
      @extend %ico_rem;
      background-image: url("../images/nianhuo/top.png");
    }
    h3{
      width: pxTorem(156px);
      height: pxTorem(42px);
      margin: 0 auto;
      color: #fff;
      @extend %ico_rem;
      &#use{
        background-image: url("../images/nianhuo/use.png");
      }
      &#food{
        background-image: url("../images/nianhuo/food.png");
      }
      &#lucky{
        background-image: url("../images/nianhuo/lucky.png");
      }
      &#safety{
        background-image: url("../images/nianhuo/safety.png");
      }
      &#tea{
        background-image: url("../images/nianhuo/tea.png");
      }
    }

    //灯
    .lampLeft,.lampRight{
      width:pxTorem(81px);
      height: pxTorem(242px);
      @extend %ico_rem;
      position: absolute;
      top:pxTorem(90px);
      z-index: 11;
    }
    .lampLeft{
      background-image: url("../images/nianhuo/lampLeft.png");
      left:pxTorem(-10px);
    }
    .lampRight{
      background-image: url("../images/nianhuo/lampRight.png");
      right:pxTorem(-10px);
    }
    .box{
      //min-height:pxTorem(500px);
      z-index: 10;
      background-color: #fff6db;
      position: relative;
      margin: 0 auto;
      width: pxTorem(682px);
      padding-bottom: pxTorem(32px);
      padding-top: pxTorem(42px);
      &:before,&:after{
        content: '\20';
        height: 100%;
        width: pxTorem(18px);
        @extend %ico_rem;
        position: absolute;
        top:0;
      }
      &:before{
        background-image: url("../images/nianhuo/lineLeft.jpg");
        background-repeat: repeat-y;
        background-size: 100%;
        left:0;
      }
      &:after{
        background-image: url("../images/nianhuo/lineRight.jpg");
        background-repeat: repeat-y;
        right:0;
      }
    }

    ul{
      padding-left: pxTorem(20px + 18px);
      @extend %clearfix;
      li{
        margin-right: pxTorem(4px);
        margin-bottom: pxTorem(4px);
        float: left;
        width: pxTorem(296px);
        height: pxTorem(446px);
        border: 2px solid #cb0712;
      }
      .photo{
        display: block;
        height: pxTorem(346px);
        border-bottom: 2px solid #cb0712;
      }
      img{
        vertical-align: middle;
        width: 100%;
      }
      .text{
        //width: pxTorem(296px - 14);
        padding-left:pxTorem(10px);
        padding-top: pxTorem(5px);
        height: pxTorem(96px - 5);
        @extend %ico_rem;
        background-image: url("../images/nianhuo/textBg.jpg");
      }
      h2{
        @include font-dpr(22px);
        color: #79352c;
        height: pxTorem(40px);
        line-height: pxTorem(40px);
        overflow: hidden;
        margin-right:pxTorem(14px);
      }

      span{
        vertical-align: middle;
        display: inline-block;
        color: #c8031f;
        @include font-dpr(22px);
      }
      strong{
        vertical-align: middle;
        display: inline-block;
        color: #c8031f;
        @include font-dpr(44px);
        font-family: Arial;
      }
      .buyBtn{
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        color: #fff100;
        @include font-dpr(22px);
        width: pxTorem(100px);
        height: pxTorem(30px);
        line-height: pxTorem(30px);
        background: #cb0712;
        @include border-radius(2px);
      }
    }

    .moreBtn{
      width: pxTorem(273px);
      height: pxTorem(53px);
      margin:pxTorem(30px) auto 0;
      @extend %ico_rem;
      background-image: url("../images/nianhuo/moreBtn.jpg");
    }

    .bottom{
      margin:0 auto;
      width: pxTorem(681px);
      height: pxTorem(17px);
      @extend %ico_rem;
      background-size: 100%;
      background-image: url("../images/nianhuo/bottom.jpg");
    }
  }
}

