@charset "UTF-8";
@import "comm/css3";
@import "comm/common";


.search{
  background: rgba(0,0,0,.9);
  //padding-top: pxTorem(16px);
  padding-bottom: pxTorem(16px);
  border-bottom: 1px solid #999999;
  //ios头部反黑
  .headerTop{
    height:pxTorem(40px);
  }
  //寿山石、多品类切换
  .tab{
    $h:54px;
    width: pxTorem(340px);
    height: pxTorem($h);
    margin:pxTorem(16px) auto 0;
    text-align: center;
    //border:1px solid #666;
    @include box-shadow(0 0 2px #666);
    @include border-radius(pxTorem(4px));
    @include display-flex();
    span{
      @include flex(1);
      display: block;
      width: pxTorem(170px);
      @include font-dpr(26px);
      text-align: center;
      color:#fff;
      height: pxTorem($h);
      line-height: pxTorem($h);
      &.select{
        background: rgba(102,102,102,.4);
      }
    }
  }

  //搜索区
  .searchInput{
    margin-top:pxTorem(16px);
    $h:70px;
    //@extend .header;
    @include display-flex();
    .left,.right{
      height:pxTorem($h);
    }
    //返回
    .return{
      $w:20px;
      display: inline-block;
      padding:0 pxTorem(40px) 0 pxTorem(30px);
      width:pxTorem($w);
      height: pxTorem($h);
      &:after{
        content: "\20";
        display: block;
        @extend %ico_rem;
        margin-top:pxTorem(10px);
        width:pxTorem($w);
        height:pxTorem(40px);
        background-image: url("../images/iconArrowLWhite.png");
      }
    }
    .txt{
      display: inline-block;
      vertical-align: top;
      height:pxTorem($h);
      line-height:pxTorem($h);
      padding:0 pxTorem(30px) 0 pxTorem(15px);
      color:#fff;
      @include font-dpr(28px);
    }


    //搜索输入栏
    .box{
      @include flex(1);
      height:pxTorem($h);
      line-height:pxTorem($h);
      @include border-radius(3px);
      @include display-flex();
      @include box-shadow(inset 0 0 2px #666);
      color:#666;
      &:before{
        margin:pxTorem(18px) pxTorem(18px) 0 pxTorem(10px);
        content: "\20";
        display: block;
        width:pxTorem(40px);
        height:pxTorem(36px);
        background-image: url("../images/iconSearchC.png");
        @extend %ico_rem;
      }
      input[type='search']{
        @include flex(1);
        @include border-radius(3px);
        display: block;
        //padding-left:12%;
        width:100%;
        height:pxTorem($h);
        line-height:pxTorem($h);
        @include font-dpr(26px);
        border:0;
        background: transparent;
      }
    }
  }

}







//搜索
.searchInfoList{
  h2,ul a{
    border-bottom: 1px solid #999999;
    margin:0 pxTorem(30px);
    height:pxTorem(80px);
    line-height:pxTorem(80px);
  }
  h2{
    color:#999999;

  }
  ul{
    li{

    }
    a{
      display: block;
      color:#333333;
    }
  }
  .btn{
    margin-top:pxTorem(40px);
    a{
      display: block;
      margin:0 auto;
      text-align:center;
      width:pxTorem(200px);
      height:pxTorem(60px);
      line-height:pxTorem(60px);
      border:1px solid $red-base;
      color:$red-base;
      @include font-dpr(26px);
      @include border-radius(1px);
    }
  }
}