@charset "UTF-8";
@import "comm/css3";
@import "comm/common";


.search{
  overflow:hidden;
  background: rgba(0,0,0,.9);
  //padding-top: pxTorem(16px);
  padding-bottom: pxTorem(16px);
  border-bottom: 1px solid #999999;
  //ios头部反黑
  .headerTop{
    height:pxTorem(40px);
  }
  //寿山石、多品类切换
  .tab{
    $h:54px;
    width: pxTorem(340px);
    height: pxTorem($h);
    margin:pxTorem(16px) auto 0;
    text-align: center;
    //border:1px solid #666;
    @include box-shadow(0 0 2px #666);
    @include border-radius(pxTorem(4px));
    @include display-flex();
    span{
      @include flex(1);
      display: block;
      width: pxTorem(170px);
      @include font-dpr(26px);
      text-align: center;
      color:#fff;
      height: pxTorem($h);
      line-height: pxTorem($h);
      &.select{
        background: rgba(102,102,102,.4);
      }
    }
  }

  //搜索区
  .searchInput{
    @import "inc/search";
    @include searchInput();
  }

}







//搜索
.searchInfoList{
  h2,ul a{
    border-bottom: 1px solid #999999;
    margin:0 pxTorem(30px);
    height:pxTorem(80px);
    line-height:pxTorem(80px);
  }
  h2{
    color:#999999;

  }
  ul{
    li{

    }
    a{
      display: block;
      color:#333333;
    }
  }
  .btn{
    margin-top:pxTorem(40px);
    a{
      display: block;
      margin:0 auto;
      text-align:center;
      width:pxTorem(200px);
      height:pxTorem(60px);
      line-height:pxTorem(60px);
      border:1px solid $red-base;
      color:$red-base;
      @include font-dpr(26px);
      @include border-radius(1px);
    }
  }
}