@charset "UTF-8";
@import "comm/css3";
@import "comm/common";

/*

  资讯

*/


// 搜索头部
.search{
  overflow:hidden;
  background: rgba(0,0,0,.9);
  //padding-top: pxTorem(16px);
  padding-bottom: pxTorem(16px);
  border-bottom: 1px solid #999999;
  //ios头部反黑
  .headerTop{
    height:pxTorem(40px);
  }
  //搜索区
  .searchInput{
    @import "inc/search";
    @include searchInput();
    margin-right: pxTorem(20px);
    .box{
      @include border-radius(pxTorem(8px));
    }
  }
}


// 资讯-首页
.sInfoHome{
  .tab{
    $h:78px;
    border-bottom:1px solid #d2d2d2;
    @include display-flex();
    height: pxTorem($h);
    background: #181818;
    a{
      display: block;
      @include flex(1);
      text-align: center;
      @include font-dpr(32px);
      color: #666;
      height:pxTorem($h - 5);
      line-height:pxTorem($h - 5);
      &.select{
        color: #fff;
        span{
          display: inline-block;
          position: relative;
          border-bottom: pxTorem(4px) solid $red-base;
          height:pxTorem($h - 5 - 4);
          line-height:pxTorem($h - 5 - 4);
          color:#fff;
          font-weight: bold;
          vertical-align: top;
        }
      }
    }
  }

  .specialMore{
    margin-bottom: pxTorem(10px);
    border-bottom: 1px #d2d2d2 solid;
    @import "inc/itemInfo";
    @include itemInfo();
    a{
      margin:0 pxTorem(20px);
    }
    .text{
      @include font-dpr(30px);
    }
  }

  .list{
    background: #fff;
    margin-bottom: pxTorem(20px);
  }
}



// 资讯-产品列表
.sInfoProduct{
  @import "inc/sInfo";
  @include sInfoProduct();
}

