@charset "UTF-8";
@import "comm/css3";
@import "comm/common";

/*

  资讯

*/


// 资讯-人物简介
.sInfoPerson{
  padding-top: pxTorem(60px);
  .face{
    $w:210px;
    width:pxTorem($w);
    height:pxTorem($w);
    @include border-radius(50%);
    display: block;
    margin:0 auto;
  }
  .img{
    margin-top:pxTorem(20px);
    padding: 0 pxTorem(20px);
  }
  img{
    width: 100%;
    vertical-align: middle;
    pointer-events:auto;
    @include user-select(none);
  }
  h2{
    margin-top: pxTorem(26px);
    @include font-dpr(36px);
    text-align: center;
    color:#333;
  }
  p{
    @include font-dpr(26px);
    line-height: pxTorem(48px);
    padding: 0 pxTorem(20px);
    margin-top:pxTorem(20px);
    color:#666666;
    text-indent: 2em;
  }
}

.sInfoPersonTitle{
  $h:88px;
  margin:pxTorem(55px) pxTorem(10px) pxTorem(20px);
  border-top:1px solid #d2d2d2;
  border-bottom:1px solid #d2d2d2;
  height: pxTorem($h);
  h2{
    height: pxTorem($h);
    line-height: pxTorem($h);
    padding-left:pxTorem(8px);
    @include font-dpr(30px);
    color: #666;
  }
}


// 资讯-产品列表
.sInfoProduct{
  @import "inc/sInfo";
  @include sInfoProduct();
}
