@charset "UTF-8";
//@import "comm/reset";
@import "comm/css3";
@import "comm/common";


/*

  感恩活动页

*/


.thanksgiving{
  background: #f0e5d2;
  header{
    height: pxTorem(1038px);
    @extend %ico_rem;
    background-size: 100% 100% !important;
    background-image: url("../images/thanksgiving/header.jpg");
  }
  //占位
  .placeholder{
    $h:70px;
    height: pxTorem($h);
  }
  nav{
    $h:90px;
    height: pxTorem($h);
    position: absolute;
    left:0;
    top:pxTorem(1038px);
    z-index: 99;
    width: 100%;
    background: #fff;
    overflow: hidden;
    //@include transition(top 500ms);
    @include display-flex();
    a{
      @include flex(1);
      display: block;
      width: 100%;
      height: pxTorem($h);
      line-height: pxTorem($h);
      text-align: center;
      color: #a83925;
      @include font-dpr(26px);
      &.select{
        background: #a83925;
        color:#fff;
      }
    }
    b{
      line-height:normal;
      display: inline-block;
      width: pxTorem(70px);
      padding-top:pxTorem(15px);
    }
  }
  //老
  .old{
    height: pxTorem(421px - 271px);
    padding-top:pxTorem(271px);
    @extend %ico_rem;
    background-size: 100% 100% !important;
    background-image: url("../images/thanksgiving/old.jpg");
  }

  //新
  .new{
    height: pxTorem(718px - 570);
    padding-top:pxTorem(570px);
    @extend %ico_rem;
    background-size: 100% 100% !important;
    background-image: url("../images/thanksgiving/new.jpg");
  }

  //秒杀
  .secKill{
    height: pxTorem(703px - 261);
    padding-top:pxTorem(261px);
    @extend %ico_rem;
    background-size: 100% 100% !important;
    background-image: url("../images/thanksgiving/secKill.jpg");
    .scroll{
      $h:210px;
      height: pxTorem($h);
      overflow-x: auto;
      ul{
        width: 99rem;
      }
      li{
        width: pxTorem($h);
        height: pxTorem($h);
        float: left;
        margin-right: pxTorem(10px);
        position: relative;
      }
      a{
        display: block;
      }
      img{
        width: pxTorem($h);
        height: pxTorem($h);
        vertical-align: middle;
      }
      span{
        position: absolute;
        left:0;
        top:pxTorem(20px);
        width: 100%;
        color: #fff;
        text-align: center;
      }
      em{
        font-style: normal;
        @include font-dpr(20px);
      }
    }
    .cen{
      $h:210px;
      height: pxTorem($h);
      @include display-flex();
      @include align-items();
      @include justify-content(center);
      span{
        display: block;
        width: pxTorem(210px);
        height: pxTorem(210px);
        border:pxTorem(5px) solid #a83925;
        margin-right: pxTorem(20px);
        @include display-flex();
        @include align-items();
        @include justify-content(center);
        &:last-child{
          margin-right: 0;
        }
        &:after{
          content: '?';
          display: block;
          @include font-dpr(132px);
          color: #a83925;;
          //width: pxTorem(57px);
          //height: pxTorem(97px);
          //background: #f0eff5;
        }
      }
    }
    .btn{
      margin-top:pxTorem(66px);
    }
  }


  //幸运
  .lucky{
    height: pxTorem(778px - 243);
    padding-top:pxTorem(243px);
    @extend %ico_rem;
    background-size: 100% 100% !important;
    background-image: url("../images/thanksgiving/lucky.jpg");
  }

  //分享
  .share{
    height: pxTorem(633px - 445);
    padding-top: pxTorem(445px);
    @extend %ico_rem;
    background-size: 100% 100% !important;
    background-image: url("../images/thanksgiving/share.jpg");
    .btn{
      a{
        width:pxTorem(320px);
        &:nth-of-type(2){
          margin-left:pxTorem(20px);
        }
      }
    }
  }

  //优惠
  .discount{
    height: pxTorem(1463px);
    @extend %ico_rem;
    background-size: 100% 100% !important;
    background-image: url("../images/thanksgiving/discount.jpg");

    .goodsListBox{
      margin-top:0;
      padding-top:pxTorem(243px);
    }
    .btn{
      margin-top:pxTorem(70px);
    }
  }


  //按钮
  .btn{
    $h:80px;
    margin:0;
    text-align: center;
    a{
      display: inline-block;
      width:pxTorem(410px);
      height: pxTorem(80px);
      line-height: pxTorem(80px);
      text-align: center;
      color:#fff;
      background: #dd4d45;
      @include font-dpr(36px);
      @include border-radius(pxTorem(6px));
      &:active{
        background: $red-hover-base;
      }
    }
  }


}